
.page-simple {
  display: flex;
  --rwidth: 10rem;
}
.page-simple__left {
  width: calc(100% - var(--rwidth));
}
.page-simple__content {
  padding: 0 3rem;
  padding: 6rem 3rem 6rem 6rem;
  min-height: 80dvh;
}
.page-simple__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: rgba(0,0,0,0.75);
}
.page-simple__title-text {
  display: inline-block;
  position: relative;
  opacity: 0.9;
}
.page-simple__title-text span {
  display: inline-block;
  opacity: 0.99;
}
.page-simple__title-text:before {
  display: inline-block;
  width: 110%;
  height: 1.9rem;
  background-color: var(--color_b1l);
  content: '';
  position: absolute;
  display: inline-block;
  margin-left: -1rem;
  margin-top: -0.2rem;
  opacity: 0.9;
}
.page-simple__text {
  max-width: 45rem;
  color: rgba(0,0,0,0.8);
  font-size: 0.8rem;
}

.page-simple__controls {
  width: 10rem;
  min-height: 100%;
  padding: 6rem 0;
  height: 100vh;
  height: 100dvh;
  height: 50vh;
  text-align: center;
  /* border-left: solid 1px rgba(0,0,0,0.1); */
}


.page-simple__topbar {
  position: absolute;
  width: 100%;
  padding: 0.8rem 3rem 0.8rem 6rem;
  vertical-align: middle;
  border-bottom: 1px solid rgba(0,0,0,0.07);
}
.about-link a {
  text-decoration: none;
  color: rgba(0,0,0,0.8);
  font-size: 0.85rem;
}
.about-link:hover a {
  text-decoration: none;
  text-decoration: underline;
  color: rgb(135 132 195);
  color: rgb(114, 110, 192);
}
/*
.page-simple__footer {
  width: 100%;
  padding: 1rem 3rem 1rem 6rem;
}
*/



.hover-move {
  -webkit-transition: -webkit-transform .2s ease,-webkit-box-shadow .2s ease;
  transition: -webkit-transform .2s ease,-webkit-box-shadow .2s ease;
  transition: transform .2s ease,box-shadow .2s ease;
  transition: transform .2s ease,box-shadow .2s ease,-webkit-transform .2s ease,-webkit-box-shadow .2s ease;
}
.hover-move:hover {
  -webkit-transform: translateY(-5px) translateZ(0);
  transform: translateY(-5px) translateZ(0);
  filter: drop-shadow(0.5rem 0.7rem 1rem #9a9fa34a);
  opacity: 1;
}