html {
  font-size: 18px;
  line-height: 25px;
  
  --color_b1: #A6CC6B;
  --color_b1d: #93bc56;
  --color_b1l: #CAE0A6;
  --color_b2: #E4E9F3;
  --color_b3: #fee2b3;
  --color_b3l: #FCECD4;
  --color_b3t: #fee2b3;
  --color_b4: #96ca96;
  --color_f1: #2D4E66;
  --color_f2: #333929;
}
/*
@media (orientation: landscape) {
  html {
    font-size: 2vh;
    font-size: 2svh;
    line-height: 3vh;
    line-height: 3svh;
  }
}
@media (orientation: portrait) {
  html {
    font-size: 2vw;
    font-size: 2svw;
    line-height: 3vw;
    line-height: 3svw;
  }
}
*/
@media (orientation: portrait) and (max-width: 600px) {
  html {
    font-size: 16px;
    line-height: 20px;
    /*
    font-size: 3vw;
    font-size: 3svw;
    line-height: 4.5vw;
    line-height: 4.5svw;
    */
  }
}

body {
  margin: 0;
  font-family: "open-sans-hebrew", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* allow scroll to hide browser top */
  height: 100vh;

  /* disable text select */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'open-sans-hebrew';
  src: url('fonts/Open Sans Hebrew Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
