html {
  font-size: 18px;
  line-height: 25px;
}
@media (orientation: landscape) {
  html {
    font-size: 2vh;
    font-size: 2svh;
    line-height: 3vh;
    line-height: 3svh;
  }
}
@media (orientation: portrait) {
  html {
    font-size: 2vw;
    font-size: 2svw;
    line-height: 3vw;
    line-height: 3svw;
  }
}
@media (orientation: portrait) and (max-width: 600px) {
  html {
    font-size: 3vw;
    font-size: 3svw;
    line-height: 4.5vw;
    line-height: 4.5svw;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* font-family: "Open Sans", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh; /* allow scroll to hide browser top */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
