
.fview {
  position: absolute;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  --ptop: 1.5rem; /* padding top */
}

.fview__file {
  position: absolute;
  
  width: calc(100vw - var(--rwidth));
  height: calc(100%);
  background-color: white;
  padding: 1rem 2rem;
  overflow-y: auto;
}
@media screen and (min-width: 700px) {
  .fview__file {
    padding: calc(2* var(--u)) calc(4* var(--u));
    padding: 2rem 3rem 2rem 4rem;
  }
}


/* file text */
.fview__filename {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.fview__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: rgba(0,0,0,0.7);
}
.fview__body {
  font-size: 1rem;
  line-height: 1.8rem;
  color: rgba(0,0,0,0.8);
  /* white-space-collapse: preserve; */ 
}
.fview_100 .fview__body {
  font-size: calc(1rem * 1);
  line-height: calc(1.8rem * 1);
}
.fview_200 .fview__body {
  font-size: calc(1rem * 2);
  line-height: calc(1.8rem * 2);
}
.fview_150 .fview__body {
  font-size: calc(1rem * 1.5);
  line-height: calc(1.8rem * 1.5);
}
.fview_125 .fview__body {
  font-size: calc(1rem * 1.25);
  line-height: calc(1.8rem * 1.25);
}

.fview_100 .fview__title {
  font-size: calc(1.7rem * 1);
  line-height: calc(2.5rem * 1);
}
.fview_200 .fview__title {
  font-size: calc(1.7rem * 2);
  line-height: calc(2.5rem * 2);
}
.fview_150 .fview__title {
  font-size: calc(1.7rem * 1.5);
  line-height: calc(2.5rem * 1.5);
}
.fview_125 .fview__title {
  font-size: calc(1.7rem * 1.25);
  line-height: calc(2.5rem * 1.25);
}


.fview__p {
  position: relative;
  padding: 0 0.4rem;
  border-radius: 1px;
}
.fview__p_selected {
  background-color: rgb(166, 204, 107, 0.4);
  color: rgb(24, 30, 13);
}
.fview__s_selected {
  background-color: rgb(166, 204, 107, 0.6);
  color: rgb(24, 30, 13);
}
.fview__w_selected {
  background-color: rgb(166, 204, 107, 0.8);
  color: rgb(24, 30, 13);
}


/* select paragraph button */
/*
.fview__p::before {
  display: inline-block;
  height: 100%;
  width: 1px;
  content: '';
  position: absolute;
  left: -1.5rem;
  border-left: 1px solid #97b0c1;
}
*/
.fview__select-p-btn {
  position: absolute;
  --p-left: min(2rem, 3vw);
  left: calc(-1 * min(1.9rem, 6vw));
  cursor: pointer;
  padding: 0.5rem;
  margin-top: -0.3rem;
  margin-left: -0.5rem;
  border-radius: 1rem;
}
.fview__select-p-btn_selected {

}
.fview__select-p-btn .icon{
  display: inline-block;
  position: relative;
  font-size: 1.3rem;
  color: var(--color_b2);
  border-radius: 100%;
}
.fview__select-p-btn_selected .icon {
  color: var(--color_b1l);
}
.fview__select-p-btn:hover .icon {
  color: var(--color_b1l);
}


/* textbook */
.fview__comment {
  border: 1px solid rgba(0,0,0,0.1);
  margin-left: min(2rem, 2vw);
}