.fedit {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
}


.fedit__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  padding: 2rem;
  font-size: 1.3rem;
  overflow-y: scroll;
  white-space-collapse: preserve;
}
.fedit__text_12 {
  font-size: calc(1.3rem * 1.25);
  line-height: calc(2rem * 1.25);
}
.fedit__text_15 {
  font-size: calc(1.3rem * 1.5);
  line-height: calc(2rem * 1.5);
}
.fedit__text_20 {
  font-size: calc(1.3rem * 2);
  line-height: calc(2rem * 2);
}
.fedit__text_25 {
  font-size: calc(1.3rem * 2.5);
  line-height: calc(2rem * 2.5);
}
.fedit__text_30 {
  font-size: calc(1.3rem * 3);
  line-height: calc(2rem * 3);
}
.fedit__text_40 {
  font-size: calc(1.3rem * 4);
  line-height: calc(2rem * 4);
}

.fedit__cursor {
  display: inline-block;
  width: 0;
  position: relative;
  width: 2rem;
  margin-left: -1rem;
  margin-right: -1rem;
  text-align: center;
  color: rgb(86, 183, 86);
}
.fedit__cursor-word {
  white-space: nowrap;
}


/* controls */

.fedit__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0,0,0,0.05);
}

.fedit__controls-top {
  position: absolute;
  top: 0;
  right: 0;
  width: 8rem;
  height: 50%;
}

.fedit__btn {
  display: inline-block;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  background-color: rgb(86, 183, 86, 0.3);
  font-size: 1.8rem;
  font-weight: 500;
  color: rgba(0,0,0,0.55);
}
.fedit__btn .material-symbols-outlined {
}
.fedit__btn_empty {
  opacity: 0.3;
  pointer-events: none;
}


/* layout 1 */
.fedit_l1 {
  --btn-my: 0.7rem; /* button margin y */
  --btn-mx: 0.7rem; /* button margin x */
  --btn-h: 4.5rem; /* button height */

  --controls-h: calc(5*(var(--btn-h) + 2*var(--btn-my)) + var(--btn-my));
  --btn-w: calc((100% - 18*var(--btn-mx)) / 9);
}
.fedit_l1 .fedit__controls {
  height: var(--controls-h);
}
.fedit_l1 .fedit__text {
  height: calc(100% - var(--controls-h));
  width: calc(100% - var(--btn-w) - 2*var(--btn-mx));
}
.fedit_l1 .fedit__controls-top {
  top: calc(1.5 * var(--btn-my));
  width: calc(var(--btn-w) + 2*var(--btn-mx));
  height: calc(100% - var(--controls-h));
}
.fedit_l1 .fedit__btn{
  min-width: var(--btn-w);
  max-width: var(--btn-w);
  min-height: var(--btn-h);
  max-height: var(--btn-h);
  margin: var(--btn-my) var(--btn-mx);
}
.fedit_l1 .fedit__btn_double {
  min-width: calc(2*var(--btn-w) + 2*var(--btn-mx));
}
.fedit_l1 .fedit__btn_triple {
  min-width: calc(3*var(--btn-w) + 4*var(--btn-mx));
}
.fedit_l1 .fedit__btn_top{
  min-width: calc(100% - 2*var(--btn-mx));
}
.fedit_l1 .fedit__btn_top.fedit__btn_double {
  min-height: calc(2*var(--btn-h) + 2*var(--btn-my));
}