.home {
  padding: 2rem;
}

.home-top-text {
  margin-bottom: 1rem;
}

.home-nav {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
}

.home-links {

}

.home-links__link {
  
}

.home-footer {
  
}