.home {
  
}

.home-body {
  min-height: 80vh;
  width: 100vw;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 2rem;
}

.home-top-text {
  margin-bottom: 1rem;
}

.home-nav {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
}

.home-links {

}

.home-links__link {
  
}

.home-footer {
  padding: 2rem;
}