.home {
  
}

.home-body {
  min-height: 80vh;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 2rem;
}

.home-top-text {
  margin-bottom: 1rem;
}

.home-links {
  margin: -1rem;
}

.home-links__link {
  display: inline-block;
  min-width: 170px;
  min-height: 150px;
  border: 1px solid rgba(0,0,0,0.1);
  text-align: center;
  padding: 2rem;
  margin: 1rem;
}

.home-footer {
  padding: 2rem;
}