.form-group {
  margin-bottom: 1.6rem;
  max-width: 32rem;
}
.form-group__title {
  font-size: 1.15rem;
  margin-bottom: 0.8rem;
  font-weight: 500;
  color: rgba(0,0,0,0.8);
  font-family: "Montserrat", sans-serif;
}
.form-group__narrate {
  display: inline-block;
  cursor: pointer;
  width: 2.2rem;
}
.form-group__narrate .icon {
  background-color: var(--color_b1l);
  color: rgba(0,0,0,0.85);
  border-radius: 100%;
  position: relative;
  top: 0.3rem;
  opacity: 0.8;
}


.form-group__options {
  padding-left: 2.2rem;
}
.form-button {
  display: inline-block;
  cursor: pointer;
  padding: 1rem;
  border: 1px solid rgba(0,0,0,0.09);
  background-color: rgba(0,0,0,0.04);
  border-radius: 0.15rem;
  text-align: center;
  margin-right: 1rem;
  margin-bottom: 1rem;
  min-width: 6rem;
}
.form-button_selected {
  border: 1px solid rgba(0,0,0,0.1);
  border: 1px solid #b3bccdab;

  background-color: var(--color_b2);
}
