.modal-bkg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.1);
}

.modal {
  margin: 15vh auto 0 auto;
  width: 60vw;
  max-width: 1000px;
  height: 50vh;
  background-color: white;
  text-align: left;
}
.modal-body {
  padding: 2rem;
}
.modal-toggle {
  cursor: pointer;
}