.nav-modal {
  height: auto;
  width: 45rem;
  max-width: 95%;
}
.nav-modal .modal-body {
  text-align: center;
  padding: 2rem 1rem 4rem 1rem;
}


.nav-link {
  display: inline-block;
  min-width: 8rem;
  min-height: 7rem;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  text-decoration: none;
  color: rgba(0,0,0,1);
  opacity: 0.75;
}


.nav-link__svg {
  max-width: 3rem;
  display: inline-block;
  margin-bottom: 0.6rem;
}
.nav-link .icon-mask::before {
  background-color: var(--color_b4);
  opacity: 0.85;
}
.nav-link_colored .icon-mask::before {
  background-color: var(--color_b3t);
}
.nav-link .icon-mask__svg {
  background-color: rgba(0,0,0,0.9);
}
.nav-link:hover .nav-link__svg .icon-mask__svg {
  color: black;
}
