.page-button {
  background-color: #DAE9DA;
  border-radius: 0.15rem;
  display: inline-block;
  width: 7rem;
  height: 6rem;
  border: 1px solid rgba(0,0,0,0);
  margin: 0.8rem;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  padding-top: 1.3rem;

}
.page-button_empty {
  visibility: hidden;
  pointer-events: none;
}
.page-button:hover {
  background-color: #96ca96;
}
.page-button__icon {
  font-weight: 650;
  font-size: 2.5rem;
  color: rgba(0,0,0,0.5);
}
